<%- include('./partials/head') %> <!-- Dit is een include van de head.ejs file -->
    <main>
        <section id="request-services">
            <h2>Diensten aanvragen</h2>
            <!-- Formulier voor het aanvragen van diensten -->
        </section>

        <section id="offer-services">
            <h2>Diensten aanbieden</h2>
            <!-- Formulier voor het aanbieden van diensten -->
        </section>


    <!--meot hier een loop komen met de vraag en aanbod items-->

    <ul>
        <li>
            <a href="/"><%= vraagaanbod.title %></a>
            <p><%= vraagaanbod.short_description %></p>
            <p>Meer informatie</p>
        </li>
    </ul>

    <ul>
        <li>
            <a href="/"><%= vraagaanbod.title %></a>
            <p><%= vraagaanbod.short_description %></p>
            <p>Meer informatie</p>
        </li>

        <li>
            <a href="/"><%= vraagaanbod.title %></a>
            <p><%= vraagaanbod.short_description %></p>
            <p>Meer informatie</p>

        </main>          



       
<%- include('./partials/foot') %> <!-- Dit is een include van de foot.ejs file -->


